@model List<YazLabProje2.Models.Dosyalar>
@{
    Layout = null;



}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SQLSearch</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        body {
            background-color: darkgray;
        }

        .searchBar {
            text-align: center;
            margin-top: 10px;
        }

        .liste1 {
            margin: 50px 10px 10px 10px;
            font-size: 15px;
        }

        table {
            background-color: antiquewhite;
        }

        .liste1 table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }

        .linkAna {
            margin-top: 20px;
            margin-left: 200px;
        }
    </style>
</head>
<body>

    <div class="linkAna">
        <a class="btn btn-warning" href="https://localhost:44320/Ana/Index" role="button">Anasayfa</a>
    </div>
    <div class="searchBar">
        <form class="form-inline my-2 my-lg-0" method="post" action="https://localhost:44320/Ana/SQLAraSubmit">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:600px;" name="komut">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
    <div class="liste1">
        <table>

            <tr>
                <th>Dosyalar</th>
                <th>Uzantı</th>
                <th>Tarih</th>
                <th>KiloByte</th>
                <th>MegaByte</th>
                <th>GigaByte</th>
                <th>Dosya Yolu</th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>

                    <td>@item.dosyaAdi</td>
                    <td>@item.Extension</td>
                    <td>@item.DateTime</td>
                    <td>@item.sizeKB</td>
                    <td>@item.sizeMB</td>
                    <td>@item.sizeGB</td>
                    <td>@item.FilePath</td>
                </tr>
            }
        </table>
    </div>

  
</body>
</html>

