@model List<YazLabProje2.Models.Dosyalar>
@{
    Layout = null;



}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SQLSearch</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body {
            background-color: darkgray;
        }

        .searchBar {
            text-align: center;
            margin-top: 10px;
        }

        .liste1 {
            margin: 50px 100px 10px 100px;
            font-size: 15px;
        }
        table {
            background-color: white;
        }
            .liste1 table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        th, td {
            padding: 15px;
            text-align: left;
        }

        .linkAna {
            margin-top: 20px;
            margin-left: 200px;
        }
    </style>
</head>
<body>

    <div class="linkAna">
        <a class="btn btn-warning" href="https://localhost:44320/Ana/Index" role="button">Anasayfa</a>
    </div>
    <div class="searchBar">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="liste1">
        <table>

            <tr>
                <th>Dosyalar</th>
                <th>Uzantı</th>
                <th>Tarih</th>
                <th>KiloByte</th>
                <th>MegaByte</th>
                <th>GigaByte</th>
            </tr>

                @foreach (var item in Model)
                { 

        <tr>

            <td>@item.dosyaAdi</td>
            <td>@item.Extension</td>
            <td>@item.DateTime</td>
            <td>@item.sizeKB</td>
            <td>@item.sizeMB</td>
            <td>@item.sizeGB</td>

        </tr>
                 }
        </table>
    </div>
 

</body>
</html>

